html, body {
  margin: 0;
  padding: 0;
  font-family:"Plus Jakarta Sans", system-ui, -apple-system, BlinkMacSystemFont, sans-serif; 
  margin-top: 0px;
  font-weight: 400;
  background: radial-gradient(circle at center, #0f1117 0%, #05060b 80%);

}




code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3 {
  font-weight: 700;
  letter-spacing: -0.02em;
}

p {
  font-weight: 400;
  line-height: 1.6;
}

small {
  font-weight: 500;
}

